@model SimBankSite.Models.ApplicationUser

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h3>Выберите сервис, для которого Вам нужно принять СМС.</h3>
        @using (Html.BeginForm("Create", "orders"))
        {
            <table>
                @foreach (SimBankSite.Models.Service service in ViewBag.Services)
                {
                    <tr>
                        <td><input type="radio" value="@service.Id" class="radioChooseEntity" /> @service.Name</td>
                        <td>@service.Price руб.</td>
                    </tr>
                }          
            </table>
            <input type="submit" class="btn btn-primary" value="Выбрать"/>
        }
    </div>

    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Sim Sim SMS</h1>
            <p class="lead">Вы сможете получить смс на наш номер</p>
            <p><a href="/Home/Help" class="btn btn-primary btn-lg">Раздел помощи &raquo;</a></p>
            <table>
                <h3>
                    @*@foreach (SimBankSite.Models.ApplicationUser u in ViewBag.Users)
                    {
                        <tr>
                            <td>@u.UserName</td>
                            <td>@u.Id </td>                            
                        </tr>
                    }*@
                </h3>
            </table>
        </div>
    </div>
</div>
