@model SimBankSite.Models.Transaction

<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <div class="form-group">
        @Html.AntiForgeryToken()
        <input type="hidden" name="receiver" value="410014902363226"> @*Номер кошелька здесь*@
        <input type="hidden" name="formcomment" value="Пополнение баланса для пользователя @Model.AppUser.UserName">
        <input type="hidden" name="short-dest" value="Пополнение баланса для пользователя @Model.AppUser.UserName">
        <input type="hidden" name="label" value="@Model.Id">
        <input type="hidden" name="quickpay-form" value="donate">
        <input type="hidden" name="targets" value="транзакция @Model.Id">
        @Html.LabelFor(m => m.Sum):
        <p>@Html.ValueFor(m => m.Sum) руб.</p>       
        <input type="hidden" name="sum" value="@Model.Sum" data-type="number">
        <input type="hidden" name="successURL" value="@Url.Action("Index","Manage")" data-type="number">
        @*<input type="hidden" name="need-fio" value="true">
            <input type="hidden" name="need-email" value="true">
            <input type="hidden" name="need-phone" value="false">
            <input type="hidden" name="need-address" value="false">*@
        <p>
            <input type="radio" id="yandex" name="paymentType" value="PC" checked>
            <label for="yandex">Яндекс.Деньгами</label>
        </p>
        <p>
            <input type="radio" id="card" name="paymentType" value="AC">
            <label for="card">Банковской картой</label>
        </p>
        <input class="btn btn-primary" type="submit" value="Перевести">
        <a class="btn btn-default" value="@Model.Id" href="@Url.Action("CancelPayment","Manage")?transactionID=@Model.Id&userId=@Model.AppUser_Id">Отменить</a>
    </div>
</form>
