@model SimBankSite.Models.Sim

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробности</h2>

<div>
    <h4>Sim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsedServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsedServices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SimBankId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SimBankId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Правка", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
